<!DOCTYPE html>
<html>
<head>
  <title>Puzzle Game (part 2)</title>

  <!-- Load libraries -->
  <script src="../static/lib/jquery-3.3.1/jquery.min.js"></script>
  <script src="../static/lib/jspsych-6.3.1/jspsych.js"></script>

  <!-- Load NivTurk plug-ins -->
  <script src="../static/js/nivturk-plugins.js" type="text/javascript"></script>

  <!-- Load experiment -->
  <script src="../static/js/rpm/rpm-tfa.js"></script>

  <!-- Load jsPsych plug-ins -->
  <script src="../static/js/jspsych-screen-check.js"></script>
  <script src="../static/js/rpm/jspsych-rpm.js"></script>
  <script src="../static/lib/jspsych-6.3.1/plugins/jspsych-instructions.js"></script>
  <script src="../static/lib/jspsych-6.3.1/plugins/jspsych-html-keyboard-response.js"></script>
  <script src="../static/lib/jspsych-6.3.1/plugins/jspsych-call-function.js"></script>
  <script src="../static/lib/jspsych-6.3.1/plugins/jspsych-fullscreen.js"></script>
  <script src="../static/lib/jspsych-6.3.1/plugins/jspsych-preload.js"></script>

  <!-- Load CSS styles -->
  <link href="../static/lib/jspsych-6.3.1/css/jspsych.css" rel="stylesheet" type="text/css"></link>
</head>
<body></body>
<script>

  // Display alert message on back/refresh.
  // https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onbeforeunload
  function verify_unload(e){
    e.preventDefault();
    (e || window.event).returnValue = null;
    return null;
  };
  window.addEventListener("beforeunload", verify_unload);

  // Add version metadata.
  jsPsych.data.addProperties({
    experiment: 'validation',
    task_version: '2.0',
    jspsych_version: '6.3.1',
  });

  // Define image preloading.
  var PRELOAD = {
    type: 'preload',
    images: [preload_rpm_tfa],
    message: 'Loading images. This may take a moment depending on your internet connection.',
    error_message: '<p>The experiment failed to load. Please try restarting your browser.</p><p>If this error persists after 3-4 restarts, please contact the experimenter.</p>',
    continue_after_error: false,
    show_progress_bar: true,
    max_load_time: 30000
  }

  // Define experiment fullscreen.
  var FULLSCREEN = {
    type: 'fullscreen',
    fullscreen_mode: true
  }

  // Define instructions
  var INSTRUCTIONS = {
    type: 'instructions',
    pages: [
      "<p>We are now beginning the second puzzle task.</p><p>In this task, you will be shown a series of puzzles. For each puzzle, your goal is to<br>identify the missing piece from the options appearing below the puzzle.</p>",
      '<p>There are 9 puzzles in total. You will have <b>30 seconds</b> for each puzzle.</p><p>At the end of the study, your total number of correct answers will be converted<br>into a <b>performance bonus</b>. So try your hardest to solve the puzzles!</p><p>If you cannot solve the puzzle before time runs out, then you should guess.</p><p>Press the "next" button to get started.</p>'
    ],
    show_clickable_nav: true,
    button_label_previous: 'Prev',
    button_label_next: 'Next'
  }

  // Define feedback
  var FEEDBACK = {
    type: 'instructions',
    pages: [],
    show_clickable_nav: true,
    button_label_previous: 'Prev',
    button_label_next: 'Next',
    on_start: function(trial) {

      // Determine number of correct responses.
      const k = jsPsych.data.get().filter({trial_type: 'rpm', accuracy: 1}).count();

      // Define feedback page.
      trial.pages = [
        `<p>You got ${k} of 9 puzzles correct.</p><p>Click the "next" button below to finish the study.`
      ];

    }
  }

  // Initialize timeline.
  var timeline = [];
  timeline = timeline.concat(PRELOAD);
  timeline = timeline.concat(FULLSCREEN);
  timeline = timeline.concat(INSTRUCTIONS);
  timeline = timeline.concat(RPM_TFa);
  timeline = timeline.concat(FEEDBACK);

  // Define global variables.
  var low_quality = false;

  jsPsych.init({
    timeline: timeline,
    show_progress_bar: true,
    on_finish: function() {

      // Remove requirement to verify redirect
      window.removeEventListener("beforeunload", verify_unload);

      // Add interactions to the data variable
      var interaction_data = jsPsych.data.getInteractionData();
      jsPsych.data.get().addToLast({interactions: interaction_data.json()});

      // Display jsPsych data in viewport.
      // jsPsych.data.displayData();

      if (low_quality) {

        // Save rejected dataset to disk.
        redirect_reject("{{workerId}}", "{{assignmentId}}", "{{hitId}}", "{{code_reject}}");

      } else {

        // Save complete dataset to disk.
        redirect_success("{{workerId}}", "{{assignmentId}}", "{{hitId}}", "{{code_success}}");

      }

    }
  })

</script>
</html>
